.search-bar {
    padding-top: 24px;
}
.card-block {
    margin-top: 34px;
}
.search-heading {
    color: #00204E;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}